<nav class="log-nav">
    <a class="home" href="/">
        <i class="fas fa-home"></i></a>
    <div class="navLeft_content">
        <a href="/create">New Map</a>
        <a href="/profile">Profile</a></div>
</nav>