{{#if isLoggedIn}}
<nav class="navbar">
    <a class="home" href="/">Home</a>
    <div class="navRight">
        <a href="/create">+ Create New Map</a>
        <a href="#">Favorites</a>
        <a href="#">Profile</a></div>
</nav>
{{else}}
<nav class="navbar">
    <a class="home" href="/">Home</a>
    <div class="navRight">
        <a href="/login">+ Create New Map</a>
        <a href="/login">Login</a>
    </div>
</nav>
{{/if}}
