<p>what's up</p>
<input id="search-place-input" class="controls" type="text" placeholder="Search Shops">
<div class="map" id="new-map"></div>

<div id="directions-container">
	<h3 class="listHeading">Route</h3>
	<button id="update-directions">Update Route</button>
</div>

<div id="places-container">
	<h3 class="listHeading">Stops</h3>
	<ul id="places-list" class="draggable-list">
		<li class="column draggable"><header>A</header></li>
		<li class="column draggable"><header>B</header></li>
	</ul>
</div>



<script src="/javascripts/create.js"></script>