<p>what's up</p>
<input id="search-place-input" class="controls" type="text" placeholder="Search Shops">
<div class="map" id="new-map"></div>

<div id="directions-container">
	<h3 class="listHeading">Route</h3>
	<p>Total Walking Time: <span id="total-time">0</span> min</p>
	<button id="update-directions">Update Route</button>
</div>

<div id="places-container">
	<h3 class="listHeading">Stops</h3>
	<ul id="places-list" class="draggable-list">
		{{!-- <li class="column draggable"><header>A</header></li>
		<li class="column draggable"><header>B</header></li> --}}
		<li class="column draggable" id="ChIJHTQ2_qWMGGARK_lj8y-fYRE"><header class="list-name">GIP Store</header></li>
		<li class="column draggable" id="ChIJCzp6MKGMGGARHw84njJix8c"><header class="list-name">Ambush Workshop</header></li>
		<li class="column draggable" id="ChIJU9Ydb2GLGGAR5UIVmYONRiU"><header class="list-name">Cav Empt</header></li>
		<li class="column draggable" id="ChIJ83ZdS2CLGGAREqhGUhmJ9pM"><header class="list-name">Off White</header></li>
		{{!-- <li class="column draggable" id="ChIJHTQ2_qWMGGARK_lj8y-fYRE">start</li>
		<li class="column draggable" id="ChIJCzp6MKGMGGARHw84njJix8c">place</li>
		<li class="column draggable" id="ChIJU9Ydb2GLGGAR5UIVmYONRiU">C.E</li>
		<li class="column draggable" id="ChIJ83ZdS2CLGGAREqhGUhmJ9pM">OFF-WHITE™ TOKYO “SOMETHING &amp; ASSOCIATES” c/o OFF-WHITE™ TOKYO</li> --}}
	</ul>
</div>

<form id="save-map-container" action="/create" method="POST">
	<input id="submit-map-input" name="newMap" type="hidden" value="">
	<button id="finalize-button" type="button">Finalize</button>
	<input id="save-map" type="submit" value="Submit">
</form>

<script src="/javascripts/create.js"></script>