{{!-- <div class="top_homePgae">
    <h1>{{title}}</h1>
    <label for="city">Find popular maps for</label>
    <input type="text" name="Paris">
    <p>Or look for maps <button>Near You!!</button></p>
</div> --}}

<h2 id="title">Most popular maps of all time!</h2>
<div id="maps-list">
    {{#each mapData}}
        {{>mapListItem}}
    {{/each}}
</div>