<p>here's a map</p>
<div class="map" id="view-map"></div>

<div id="route-details">
	<h3 class="listHeading">Details</h3>
</div>

<div id="route-description">
	<h3 class="listHeading">Guide Notes</h3>
</div>

<div> {{{ map }}} </div>

<script src="/javascripts/map.js"></script>